* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #353535;
}

a {
  color: inherit;
  text-decoration: none;
}

.foreground {
  opacity: 0.2;
  mix-blend-mode: darken;
  background: url('/foreground.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;

  user-select: none;
  pointer-events: none;
}